[MAIN]
enable-all-extensions=yes
fail-under=8
ignore=tests
py-version=3.10
suggestion-mode=yes

[BASIC]
include-naming-hint=yes

[CLASSES]
check-protected-access-in-special-methods=yes

[DESIGN]
exclude-too-few-public-methods=BaseModel,Protocol
ignored-parents=Protocol
max-args=5
max-attributes=7
max-bool-expr=4  # Def: 5
max-branches=10  # Def: 12
max-locals=15
max-parents=3  # Def: 7
max-public-methods=15  # Def: 20
max-returns=5  # Def: 6
max-statements=50
min-public-methods=1  # Def: 2

[MESSAGES CONTROL]
# PLANNED: Continue to exclude noisy errors
disable=fixme,
        line-too-long,
        missing-function-docstring

[REFACTORING]
max-nested-blocks=3

[REPORTS]
output-format=colorized
; reports=yes

[SIMILARITIES]
min-similarity-lines=3

[STRING]
check-quote-consistency=yes
check-str-concat-over-line-jumps=yes
